body{
    font: 20px Arial;
}

.navbar {
    background-color: darkcyan;
}

.quem-somos {
    background-color: cornflowerblue;
    color: white;
}

.margin{
    padding-top: 20px;
    padding-bottom: 50px;

}

.parceiros{
    background-color: aquamarine;
    
}

.bg-footer{
    background-color: black;
    color: white;
}